<div class="flex flex-column" *ngIf="contact">
  <div class="contact-details flex">
    <span class="contact-name">{{contact.firstName}} {{contact.lastName}}</span>
    <span class="contact-phone">{{contact.phone}}</span>
    <span class="contact-email">{{contact.email}}</span>

  </div>
  <div class="buttons">
    <button class="back" (click)="goBack()">back</button>
    <button class="edit" routerLink="/contact/new-edit/{{contact.id}}">edit</button>
    <button class="delete" (click)="delete(contact)">delete</button>
  </div>
</div>
