<div class="contacts-new-edit">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
      <label>First</label>
      <input formControlName="firstName" type="text" class="form-control" name="firstName" >
    </div>

    <div>
      <label>Last</label>
      <input formControlName="lastName" type="text" class="form-control" name="lastName" >
    </div>

    <div>
      <label>Phone</label>
      <input formControlName="phone" type="text" class="form-control" name="phone">
    </div>
    <div>
      <label>Email</label>
      <input formControlName="email" type="text" class="form-control" name="email">
    </div>
    <div class="flex">
      <div class="buttons">
        <button class="cancel" (click)="cancel()" type="reset">cancel</button>
        <button type="submit" class="save" [disabled]="!addForm.valid">save</button>
      </div>
    </div>

  </form>
</div>
